/* ====== Global vars ===== */
:root {
    --main-font-color: #333;
    --main-background-color: #f5f0e9;
    --divider-color: #d4223a;
}


/* ===== global classes ===== */
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main-font-color);
    background: var(--main-background-color);
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.02rem;
}

section {
    margin: 40px 0;
}

ul {
    list-style: none;
}

.content-wrapper {
    width: 1170px;
    margin: 0 auto;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
}

/* ===== Helper classes ===== */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* ===== Main page classes ===== */

/* === Navigation === */

nav {
    display: flex;
}

.nav-logo {
    cursor: pointer;
}

.nav-menu {
    display: inline-flex;
}

.cart-icon {
font-size: 1.8rem;
cursor: pointer;
}

/* === Divider === */

.divider {
 background: var(--divider-color);
 height: 55px;
}

/* === Hero === */

.hero  div.container {
    background-image: url("./assets/img/hero.jpg");
    background-color: var(--main-background-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 488px;
}